body {
    background: #e9ebf1;
}
p {
   
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
}
/* fondi omadused kirjeldatakse klassidest eespool */
h1 {
font-size: 20px;
}
h2 {
    font-size: 18px;
    text-align: center;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 12px;
    }
.box-regulartext {
    color: slategray;
}
/* samade omadustega html-i elemendid või klassid saab eraldada komadega */
h1, h2, h3, h4, .box-regulartext {
    color: rebeccapurple;
    font-family:  'Prompt', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
/* kui on klassi nimi html-is defineeritud ja kasutame seda css-is, siis algab klassi nimi punktiga */
.conteiner {
    width: 1200px; 
    background: blanchedalmond;
    padding: 20px;
    border: 5px solid tomato;
    margin: 0, auto;
  
    border-radius: 25px;
    
}
.box {
    background: white;
    width: 350px;
    border: 5px solid grey;
    padding: 0px;
    margin: 0, auto;
    float: left;
   
    
}
.image-box {
    width: 350px;
    
}
.content-box {
    padding: 10px;
    border: 5px dotted grey;
    margin: 10px;

}
img {
    width: 100%;
 
}
.highlight {
    color: red;
}