﻿body {
    background: #e9ebf1;
}

/* fondi omadused kirjeldatakse klassidest eespool */
h1 {
font-size: 20px;
}
h2 {
    font-size: 18px;
    text-align: center;
	color: white;
}

li {
   
    font-size: 14px;
font-family:  'Prompt', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
    	
	}
ul {
list-style: none;}

/* samade omadustega html-i elemendid või klassid saab eraldada komadega */
h1, h2, h3, h4, .colour-box {
    font-family:  'Prompt', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
/* kui on klassi nimi html-is defineeritud ja kasutame seda css-is, siis algab klassi nimi punktiga */
.conteiner {
    width: 800px;
	box-align: center;
	    
}
.box {
    background: white;
    
    border: 3px solid grey;
	  float: left;
  width: 33.3%;
  margin: 5px;
  
}
    
.colour-box {
background: #4CAF50;   
}

.list-box {
 text-align: left;

}

.button-box {
 padding: 10px;
        text-align: center;

}
.box-regulartext {
    color: white;
}

button
  {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
 padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}
.highlight {
    color: red;
}
